<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <!--[if IE]><![endif]-->
    <title>Kenny</title>
    <link rel="shortcut icon" href="res/KLlogo.ico">
    <meta name="description" content="Kenny's portfolio">
    <meta name="keywords" content="Kenny, kennykylam, superkenny101, kenny lam">
    <meta name="author" content="Kenny">
    <meta name="designer" content="Kenny">
    <!--[if IE]><link rel="shortcut icon" href="res/KLlogo.png"><![endif]-->
    <!-- css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="styles/home.css">
    <!-- font -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <!-- js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
    <script src="javascript/home.js"></script>
</head>

<body ng-app="portfolio" ng-controller="MainController">
    <nav>
        <div class="green nav-wrapper">
            <a href="#!" class="brand-logo">KENNY LAM</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="#about">Profile</a></li>
                <li><a href="#projects">Projects</a></li>
                <li><a href="#jobs">Jobs</a></li>
                <li><a href="#life">Life</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li><a href="#about">Profile</a></li>
                <li><a href="#projects">Projects</a></li>
                <li><a href="#jobs">Jobs</a></li>
                <li><a href="#life">Life</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div>
    </nav>
    <div class="jumbotron">
        <div class="block-board">
        </div>
        <img class="rocket" src="res/spaceRocket.png">
        <svg class="ufo" xmlns="http://www.w3.org/2000/svg">
            <!-- Created with Method Draw - http://github.com/duopixel/Method-Draw/ -->
            <g>
                <title>UFO</title>
                <ellipse ry="34.999999" rx="39" id="svg_3" cy="35.750003" cx="74.75" stroke-opacity="null" stroke-width="1.5" fill="#aaffff" />
                <ellipse ry="17.000006" rx="74.000002" id="svg_1" cy="54.750006" cx="74.750002" stroke-width="1.5" fill="#999999" />
                <ellipse ry="7" rx="7" id="svg_5" cy="54.750002" cx="45.75" stroke-opacity="null" stroke-width="1.5" fill="#ffff00" />
                <ellipse ry="7" rx="7" id="svg_6" cy="54.750002" cx="71.75" stroke-opacity="null" stroke-width="1.5" fill="#ffff00" />
                <ellipse ry="7" rx="7" id="svg_7" cy="54.750002" cx="99.75" stroke-opacity="null" stroke-width="1.5" fill="#ffff00" />
                <ellipse ry="10.5" rx="10.5" id="svg_8" cy="24.250002" cx="74.25" stroke-opacity="null" stroke-width="1.5" fill="#05af4c" />
                <ellipse ry="2.124972" rx="2.124972" id="svg_9" cy="23.472492" cx="69.571344" stroke-opacity="null" stroke-width="1.5" stroke="null" fill="#ffffff" />
                <ellipse ry="2.124972" rx="2.124972" id="svg_10" cy="23.472492" cx="79.071218" stroke-opacity="null" stroke-width="1.5" stroke="null" fill="#ffffff" />
                <path id="svg_12" d="m64.946404,13.347626" opacity="0.5" stroke-opacity="null" stroke-width="1.5" stroke="null" fill="#05af4c" />
                <path id="svg_15" d="m66.625017,20.675032" opacity="0.5" stroke-opacity="null" stroke-width="1.5" stroke="null" fill="#05af4c" />
                <path stroke="null" id="svg_16" d="m65.926879,18.597216c0,0 -0.794442,-6.644918 -0.927013,-6.84724c0.13257,0.202322 10.195507,5.113784 10.195507,5.113784c0,0 7.67961,-4.044733 7.67961,-4.044733c0,0 0,6.356008 0,6.356008c0,0 -16.948105,-0.577819 -16.948105,-0.577819z" stroke-opacity="null" stroke-width="1.5" fill="#05af4c" />
                <ellipse ry="1.499997" rx="1.499997" id="svg_18" cy="11.67505" cx="64.625021" fill-opacity="null" stroke-opacity="null" stroke-width="1.5" stroke="null" fill="#05af4c" />
                <ellipse ry="1.499997" rx="1.499997" id="svg_19" cy="12.175049" cx="83.124982" fill-opacity="null" stroke-opacity="null" stroke-width="1.5" stroke="null" fill="#05af4c" />
            </g>
        </svg>
        <h1 class="title">A Software Developer that thinks beyond.</h1>
        <a class="view-more green waves-effect waves-light btn" href="#about">View more!</a>
        <img class="earth" src="res/earth.png">
    </div>
    <div class="container">
        <div class="row" id="about">
            <h1 id="about" class="center">Profile</h1>
            <div class="col s12">
                <p>I study <b>Systems Design Engineering</b> at University of Waterloo. I love to be creative and innovate. I always look to keep things interesting so I made space animations of me flying into space. am always looking for new challenges everyday. Hope you enjoyed my animations!</p>
                <br>
                <p class="center"><b>"Software is a great combination between artistry and engineering."</b></p>
                <p class="center"> - Bill Gates</p>
            </div>
        </div>
        <div class="row" id="projects">
            <h1 class="center">Projects</h1>
            <p class="center">Check out my projects on <a class="link" href="https://github.com/kennykylam" target="_blank">Github</a></p>
            <div class="col s12 flex-container">
                <div class="card flex-card" ng-repeat="s in stories track by $index">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" ng-src="{{s.image}}">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">{{s.title}}
                        </span>
                        <p>{{s.info}}</p>
                    </div>
                    <!-- Modal Trigger -->
                    <button ng-if="s.modal" class="demo-button waves-effect waves-green btn-flat" ng-click="openModal(s.modal)">Video Demo</button>
                    <!-- Modal Structure -->
                    <div id="{{s.modal}}" class="modal">
                        <div class="modal-content">
                            <h4>{{s.title}}</h4>
                            <iframe class="embed-video" ng-if="s.iframe!==undefined" ng-src="{{s.iframe}}"></iframe>
                            <p>{{s.info}}</p>
                        </div>
                        <div class="modal-footer">
                            <a ng-click="closeModal(s.modal)" class=" modal-action modal-close waves-effect btn-flat">Close</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="jobs">
            <h1 class="center">Job Experience</h1>
            <p class="center">Learn more on<a class="link" href="https://www.linkedin.com/in/kennykylam" target="_blank">LinkedIn</a></p>
            <div class="col s12 flex-container">
                <div class="card flex-card" ng-repeat="s in jobs">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" ng-src="{{s.image}}">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">{{s.title}}
                        </span>
                        <p>{{s.company}}</p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">{{s.title}}<i class="material-icons right">close</i></span>
                        <!--                         <a ng-if="s.link!==undefined" href="{{s.link}}" target="_blank">{{s.linkAlias}}</a> -->
                        <ul>
                            <li ng-repeat="work in s.work_done">{{work}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="life">
            <h1 class="center">Chef & Foodie Life</h1>
            <p class="center">Follow my instagram <a class="link" href="https://www.instagram.com/superkenny101/" target="_blank">@superkenny101</a>.</p>
            <iframe class="instagram-gallery-desktop" src="https://users.instush.com/bee-gallery-v2/?cols=3&rows=3&size=large&border=10&round=true&space=4&sl=false&bg=transparent&brd=true&na=false&pin=false&hc=e72476&ltc=3f3f3f&lpc=ffffff&fc=ffffff&user_id=2047284311&username=superkenny101&sid=-1&susername=-1&tag=-1&stype=mine&t=9999994U-UE5FIXbDIS6X24y0HsH6-s04W4_kEMjyr4Qw7GKDs-Hl3Gl6IgKyhtP1BAvwUw8ZilpBF0t4" allowtransparency="true" frameborder="0" scrolling="no"></iframe>
            <iframe class="instagram-gallery-mobile" src="https://users.instush.com/xmini/?tiny=true&user_id=2047284311&username=superkenny101&sid=-1&susername=-1&tag=-1&stype=mine&t=9999994U-UE5FIXbDIS6X24y0HsH6-s04W4_kEMjyr4Qw7GKDs-Hl3Gl6IgKyhtP1BAvwUw8ZilpBF0t4" allowtransparency="true" frameborder="0" scrolling="no"></iframe>
        </div>
        <div class="row" id="contact">
            <h1 class="center">Contact</h1>
            <ul class="center">
                <li><a class="link" href="mailto:kky2lam@edu.uwaterloo.ca" target="_top">kky2lam@edu.uwaterloo.ca</a></li>
                <li><a class="link" href="mailto:kennykinyulam@gmail.com" target="_top">kennykinyulam@gmail.com</a></li>
            </ul>
        </div>
    </div>
    <footer class="green page-footer">
        <div class="footer-copyright">
            <div class="container">
                © 2017 Copyright Kenny Lam
            </div>
        </div>
    </footer>
</body>

</html>
